.game-container {
  border: 1px solid #000;
}
.game-container .background-image {
  background-image: url("/public/backgrounds/background_glacial_mountains.png");
  background-size: 100% 100%;
}
.game-container .lifebar-container {
  width: 200px;
  border: 1px solid #000;
  margin-bottom: 1%;
}
.game-container .lifebar-container .lifebar-progress {
  transition: 1s;
  color: #fff;
  text-align: center;
  width: 100%;
  background: rgba(105, 238, 105, 0.7);
}
.game-container .enemy {
  display: grid;
  justify-items: end;
  margin-right: 2%;
  padding: 0 4%;
}
.game-container .enemy img {
  transform: scaleX(-1);
}
.game-container .player {
  display: grid;
  justify-items: start;
  grid-template-columns: 0.3fr 0.7fr;
  padding: 0 4%;
}
.game-container .player .player-info {
  display: grid;
  justify-items: center;
}
.game-container .player .player-info .lifebar-container {
  margin-bottom: 0%;
}
.game-container .player .player-info .lifebar-container .lifebar-progress {
  background: rgba(105, 238, 105, 0.7);
}
.game-container .player .player-controls-container {
  width: 100%;
  display: grid;
  grid-template-columns: 0.3fr 0.3fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  justify-content: end;
}
.game-container .player .player-controls-container button {
  width: 80%;
  height: 80%;
  font-size: larger;
  border-radius: 4%;
}
.game-container .player .player-controls-container button:hover {
  cursor: pointer;
}
.game-container .player .player-controls-container :nth-child(1) {
  background: rgba(238, 105, 105, 0.7);
}
.game-container .player .player-controls-container :nth-child(2) {
  background: rgba(229, 238, 105, 0.7);
}
.game-container .player .player-controls-container :nth-child(3) {
  background: rgba(105, 238, 105, 0.7);
}
.game-container .player .player-controls-container :nth-child(4) {
  background: rgba(105, 105, 238, 0.7);
}
@media only screen and (min-width: 320px) and (max-width: 601px) {
  .game-container .player .player-controls-container {
    grid-template-columns: 1fr 1fr;
    height: 10rem;
    margin-top: 2%;
  }
}
.game-container .player img {
  width: 240px;
}
@media only screen and (min-width: 320px) and (max-width: 601px) {
  .game-container .player {
    grid-template-columns: 1fr;
  }
}
.game-container .game-log h1 {
  color: rgba(66, 74, 78, 0.8);
  font-size: 2em;
  text-align: center;
}
.game-container .game-log h2 {
  color: rgba(66, 74, 78, 0.8);
  text-align: center;
}
.game-container .game-log p {
  color: rgba(44, 49, 51, 0.932);
  font-size: 1.2em;
  text-align: center;
}
@media only screen and (min-width: 320px) and (max-width: 601px) {
  .game-container .game-log p {
    font-size: 0.9em;
  }
}
.game-container .game-log .card-container {
  display: flex;
  width: 100%;
  justify-content: center;
}
.game-container .game-log .card-container .center-card {
  display: grid;
  grid-template-columns: 1fr;
  background: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 90%;
  font-size: 1.5rem;
  padding: 1%;
}
.game-container .game-log .card-container .center-card :nth-child(1) {
  text-align: left;
  margin: 0;
  margin-bottom: 1%;
  padding-left: 5%;
  color: #fff;
}
.game-container .game-log .card-container .center-card :nth-child(2) {
  text-align: right;
  margin: 0;
  margin-bottom: 1%;
  padding-right: 5%;
  color: #fff;
}
.score {
  display: grid;
  color: rgba(66, 74, 78, 0.8);
}
.score input {
  color: rgba(44, 49, 51, 0.932);
  margin-bottom: 2%;
  font-size: 1.2rem;
}
.score button {
  background: transparent;
  transition: 0.3s;
  font-size: 1.2rem;
}
.score button:hover {
  color: white;
  cursor: pointer;
  background: #424a4e;
  transition: 0.3s;
}
@media only screen and (min-width: 320px) and (max-width: 601px) {
  .sideMenu {
    z-index: 1;
    display: block;
    transform: translateX(100vw);
    transition: 1s;
    height: 100vh;
    width: 100vw;
    position: fixed;
  }
  .openSideMenu {
    z-index: 1;
    display: block;
    transform: translateX(0vw);
    transition: 1s;
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
  }
}
