.rules-container h1 {
  color: rgba(66, 74, 78, 0.8);
  font-size: 2em;
  text-align: center;
}
.rules-container p {
  color: rgba(44, 49, 51, 0.932);
  font-size: 1.2em;
  text-align: center;
}
@media only screen and (min-width: 320px) and (max-width: 601px) {
  .rules-container p {
    padding: 0 2%;
  }
}
.rules-container .card-container {
  display: grid;
  justify-content: center;
  width: 100%;
}
.rules-container .card-container .center-card {
  display: grid;
  grid-template-columns: 0.7fr;
  background: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.rules-container .card-container .center-card p {
  text-align: justify;
}
@media only screen and (min-width: 320px) and (max-width: 601px) {
  .rules-container .card-container .center-card {
    grid-template-columns: 0.9fr;
  }
}
.rules-container .actions-4-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 2%;
  gap: 7%;
  color: rgba(66, 74, 78, 0.8);
}
.rules-container .actions-4-container h2 {
  color: rgba(66, 74, 78, 0.8);
  text-align: center;
}
.rules-container .actions-4-container p {
  text-align: justify;
}
.rules-container .actions-4-container .card-1 {
  padding: 2%;
  background: rgba(238, 105, 105, 0.7);
}
.rules-container .actions-4-container .card-2 {
  padding: 2%;
  background: rgba(229, 238, 105, 0.7);
}
.rules-container .actions-4-container .card-3 {
  padding: 2%;
  background: rgba(105, 238, 105, 0.7);
}
.rules-container .actions-4-container .card-4 {
  padding: 2%;
  background: rgba(105, 105, 238, 0.7);
}
@media only screen and (min-width: 320px) and (max-width: 601px) {
  .rules-container .actions-4-container {
    display: block;
  }
  .rules-container .actions-4-container > * {
    margin-bottom: 2%;
  }
}
.sideMenu {
  display: none;
}
