@import "colors.less";
@import "mediaQuery.less";

.game-container {
  border: 1px solid @boder-black;
  .lifebar-container {
    width: 200px;
    border: 1px solid @boder-black;
    margin-bottom: 1%;
    .lifebar-progress {
      transition: 1s;
      color: @font-white;
      text-align: center;
      width: 100%;
      background: @lifebar-high;
    }
  }
  .enemy {
    display: grid;
    justify-items: end;
    margin-right: 2%;
    img {
      transform: scaleX(-1);
    }
  }
  .player {
    display: grid;
    justify-items: start;
    grid-template-columns: 0.3fr 0.7fr;
    .player-info {
      display: grid;
      justify-items: center;
      .lifebar-container {
        margin-bottom: 0%;

        .lifebar-progress {
          background: @lifebar-high;
        }
      }
    }
    .player-controls-container {
      //grid with 2 columns and 2 rows centralize the controls
      width: 100%;
      display: grid;
      grid-template-columns: 0.3fr 0.3fr; //Set a fixed width
      grid-template-rows: 1fr 1fr;
      align-items: center;
      justify-items: center;
      justify-content: end;
      button {
        width: 80%;
        height: 80%;
        font-size: larger;
        border-radius: 4%;
        &:hover {
          cursor: pointer;
        }
      }
      :nth-child(1) {
        background: @player-attack;
      }
      :nth-child(2) {
        background: @player-special-attack;
      }
      :nth-child(3) {
        background: @player-heal;
      }
      :nth-child(4) {
        background: @player-give-up;
      }
      @media @phone {
        grid-template-columns: 1fr 1fr;
        height: 10rem;
        margin-top: 2%;
      }
    }
    img {
      width: 240px;
    }
    @media @phone {
      grid-template-columns: 1fr;
    }
  }
  .game-log {
    h1 {
      color: @font-color;
      font-size: 2em;
      text-align: center;
    }
    h2 {
      color: @font-color;
      text-align: center;
    }
    p {
      color: @font-color-p;
      font-size: 1.2em;
      text-align: center;
    }
    .card-container {
      display: flex;
      width: 100%;
      justify-content: center;
      .center-card {
        display: grid;
        grid-template-columns: 1fr;
        background: @background-card;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        width: 90%;
        font-size: 1.5rem;
        padding: 1%;
        :nth-child(1) {
          text-align: left;
          margin: 0;
          margin-bottom: 1%;
          padding-left: 5%;
          color: @font-white;
        }
        :nth-child(2) {
          text-align: right;
          margin: 0;
          margin-bottom: 1%;
          padding-right: 5%;
          color: @font-white;
        }
      }
    }
  }
}
.score {
  display: grid;
  color: @font-color;
  input {
    color: @font-color-p;
    margin-bottom: 2%;
    font-size: 1.2rem;
  }
  button {
    background: transparent;
    transition: 0.3s;
    font-size: 1.2rem;
    &:hover {
      color: white;
      cursor: pointer;
      background: @button-default;
      transition: 0.3s;
    }
  }
}
